<a href="#hero">
  <div
    id="arrow"
    class="rounded-full opacity-0 fixed right-3 sm:bottom-3 bottom-7 h-10 w-10 bg-[oklch(var(--foreground))] md:right-4 md:bottom-4 md:h-13 md:w-13"
  >
    <i
      class="fa-solid fa-arrow-up fa-2xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
      style="color: oklch(var(--primary-background))"></i>
  </div>
</a>
