<div
  id="contact"
  class="flex items-center justify-center h-[100dvh] w-full bg-[oklch(var(--primary-background))] text-[oklch(var(--foreground))]"
>
  <form
  id="contact-form"
    class="drop-shadow-lg drop-shadow-[oklch(var(--card))]/90 flex items-center justify-center flex-col bg-[oklch(var(--primary-background))] w-[70vw] h-[90vh] lg:w-1/2 rounded-2xl"
  >
    <div class="text-center space-y-8">
      <h1 class="text-2xl mt-2">Contactame</h1>
      <div class="text-center pb-3">
        <div class="grid grid-cols-1 gap-x-6 gap-y-2 sm:grid-cols-6">
          <div class="sm:col-span-12">
            <label for="first-name" class="block text-md font-medium text-start"
              >nombre</label
            >
            <div class="mt-2">
              <input
                id="first-name"
                type="text"
                name="name"
                autocomplete="given-name"
                required
                class="block sm:w-full w-[50vw] rounded-md bg-[oklch(var(--primary-background))]/60 px-3 py-1.5 text-base outline-1 -outline-offset-1 outline-[oklch(var(--foreground))]/20 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-[oklch(var(--foreground))]/30 sm:text-md"
              />
            </div>
          </div>

          <div class="sm:col-span-6">
            <label for="lastname" class="block text-md font-medium text-start"
              >apellido</label
            >
            <div class="mt-2">
              <input
                id="last-name"
                type="text"
                name="last-name"
                autocomplete="family-name"
                required
                class="block sm:w-full w-[50vw] rounded-md bg-[oklch(var(--primary-background))]/60 px-3 py-1.5 text-base outline-1 -outline-offset-1 outline-[oklch(var(--foreground))]/20 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-[oklch(var(--foreground))]/30 sm:text-md"
              />
            </div>
          </div>

          <div class="sm:col-span-6">
            <label for="lastname" class="block text-md font-medium text-start"
              >Asunto</label
            >
            <div class="mt-2">
              <input
                id="subject"
                type="text"
                name="subject"
                autocomplete="family-name"
                required
                class="block sm:w-full w-[50vw] rounded-md bg-[oklch(var(--primary-background))]/60 px-3 py-1.5 text-base outline-1 -outline-offset-1 outline-[oklch(var(--foreground))]/20 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-[oklch(var(--foreground))]/30 sm:text-md"
              />
            </div>
          </div>

          <div class="sm:col-span-6">
            <label for="email" class="block text-md font-medium text-start">Email</label>
            <div class="mt-2">
              <input
                id="email"
                type="email"
                name="email"
                autocomplete="email"
                required
                class="block sm:w-full w-[50vw] rounded-md bg-[oklch(var(--primary-background))]/60 px-3 py-1.5 text-base outline-1 -outline-offset-1 outline-[oklch(var(--foreground))]/20 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-[oklch(var(--foreground))]/30 sm:text-md"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sm:col-span-full">
      <label for="about" class="block text-md font-medium text-start">Mensaje</label>
      <div class="mt-2">
        <textarea
          id="about"
          name="message"
          rows="7"
          required
          class="sm:w-100 w-[50vw] rounded-md bg-[oklch(var(--primary-background))]/60 px-3 py-1.5 text-base outline-1 -outline-offset-1 outline-[oklch(var(--foreground))]/20 placeholder:text-[oklch(var(--foreground))] focus:outline-2 focus:-outline-offset-2 focus:outline-[oklch(var(--foreground))]/30"
        ></textarea>
      </div>
    </div>
    <div class="mt-6 flex items-center justify-center gap-x-6">
      <button
        onclick="formReset()"
        type="button"
        class="font-bold bg-[oklch(var(--secondary-background))] rounded-md px-3 py-2 text-sm"
      >
        Cancelar
      </button>
      <button
        type="submit"
        class="border rounded-md px-3 py-2 text-sm font-bold"
      >
        Enviar
      </button>
    </div>
  </form>
</div>

<script>
  const form = document.getElementById("contact-form");

  if (form instanceof HTMLFormElement) {
    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      const formData = new FormData(form);

      const res = await fetch("/api/mail", {
        method: "POST",
        body: formData,
      });

      const result = await res.json();

      if (result.success) {
        window.location.href = "/enviado";
      } else {
        alert("Error enviando el mensaje");
      }
    });
  }
</script>

