---
import Card from "./Card.astro";

const projects = [
  {
    imgSrc: "/img/NUlogo.png",
    title: "Lorem, ipsum.",
    description: "Lorem ipsum dolor sit amet. Lorem, ipsum.",
    appear: "appearL-on-scroll"
  },
  {
    imgSrc: "/img/NUlogo.png",
    title: "Dolor sit.",
    description: "cool description.",
    appear: "appearR-on-scroll"
  },
  {
    imgSrc: "/img/NUlogo.png",
    title: "Amet project.",
    description: "Some text here.",
    appear: "appearL-on-scroll"
  },
  {
    imgSrc: "/img/NUlogo.png",
    title: "Last card.",
    description: "final description",
    appear: "appearR-on-scroll"
  },
];
---

<div
  id="projects"
  class="h-screen w-full flex flex-col items-center justify-center gap-20 bg-[oklch(var(--secondary-background))] text-[oklch(var(--foreground))]"
>
  <h1 class="animate-on-scroll text-3xl mb-5 sm:border-b-2 border-[oklch(var(--foreground))] text-center">
    Algunos de mis proyectos
  </h1>
	<div class="grid grid-cols-2 sm:gap-10 lg:flex gap-5 items-center justify-center">
	  {projects.map((p) => (
		<Card {...p} />
	  ))}
	</div>
</div>
